<!DOCTYPE html>
<html>
  <head>
    <title> title </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> title </h1>
    <p>elcome to title </p>
    <form action="/api" method="GET">
      <input type="text" name="search">
      <input type="submit"" name="btn">
    </form>
  </body>
</html>
